# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Platform specific
**/ios/Pods/
**/macos/Pods/
**/ios/.symlinks/
**/macos/.symlinks/
**/windows/flutter/ephemeral/
pubspec.lock

# Xcode user-specific data (prevents "modified by another application" popup)
**/xcuserdata/
*.xcuserdatad/

# 开发脚本运行时文件
.dev_pids/
.dev_logs/
